body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/dubai-desert-safari-6826298_1280.jpg");
    background-position: center;
    background-size: cover;
    margin: 0;
}

.content {
    width: 750px;
    height: 480px;
}

.canvas {
    width: 750px;
    height: 480px;
    background-color: black;
}

h1 {
    font-size: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.startScreen {
    width: 100%;
    height: 100%;
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: cover;
    background-position: center;
}

.endScreen {
    width: 100%;
    height: 100%;
    background-image: url("img/You won, you lost/Game Over.png");
    background-size: cover;
    background-position: center;
}

.settingScreen {
    width: 100%;
    height: 100%;
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: cover;
    background-position: center;
}

.d-none {
    display: none;
}